.git
.gitignore
.github
README.md
SECURITY.md
LICENSE

node_modules
npm-debug.log*
coverage
.nyc_output

.env
.env.*
!.env.example

terraform
jenkins

Dockerfile*
compose*.yaml
compose*.yml

*.log
*.tmp
.DS_Store